In [1]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('Agg').getOrCreate()

In [4]:
spark

In [11]:
df_pyspark=spark.read.csv('test4.csv',header=True,inferSchema=True)

In [12]:
df_pyspark.show()

+-------+---------------+------+
|   Name|    Departments|Salary|
+-------+---------------+------+
|    Jon|           News|250000|
|  Tanya| Social Affairs|120000|
| Zeinab|         Africa|180000|
| Sheena|   Home Affairs|200000|
|   Alex|        Climate|225000|
|   Judy|   Home Affairs| 60000|
|  Saira|        Special|100000|
|   Gaby|Foreign Affairs|135000|
|Lindsay|   Home Affairs| 75000|
| Daljit|           News|110000|
+-------+---------------+------+

In [13]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [14]:
df_pyspark.groupBy('Name').sum().show()

+-------+-----------+
|   Name|sum(Salary)|
+-------+-----------+
| Sheena|     200000|
|Lindsay|      75000|
|   Alex|     225000|
|   Judy|      60000|
|  Saira|     100000|
|  Tanya|     120000|
| Daljit|     110000|
|   Gaby|     135000|
| Zeinab|     180000|
|    Jon|     250000|
+-------+-----------+

In [15]:
df_pyspark.groupBy('Name').avg().show()

+-------+-----------+
|   Name|avg(Salary)|
+-------+-----------+
| Sheena|   200000.0|
|Lindsay|    75000.0|
|   Alex|   225000.0|
|   Judy|    60000.0|
|  Saira|   100000.0|
|  Tanya|   120000.0|
| Daljit|   110000.0|
|   Gaby|   135000.0|
| Zeinab|   180000.0|
|    Jon|   250000.0|
+-------+-----------+

In [16]:
df_pyspark.groupBy('Departments').sum().show()

+---------------+-----------+
|    Departments|sum(Salary)|
+---------------+-----------+
|Foreign Affairs|     135000|
|         Africa|     180000|
|        Climate|     225000|
|        Special|     100000|
|   Home Affairs|     335000|
| Social Affairs|     120000|
|           News|     360000|
+---------------+-----------+

In [17]:
df_pyspark.groupBy('Departments').sum().show()

+---------------+-----------+
|    Departments|sum(Salary)|
+---------------+-----------+
|Foreign Affairs|     135000|
|         Africa|     180000|
|        Climate|     225000|
|        Special|     100000|
|   Home Affairs|     335000|
| Social Affairs|     120000|
|           News|     360000|
+---------------+-----------+

In [18]:
df_pyspark.groupBy('Departments').count().show()

+---------------+-----+
|    Departments|count|
+---------------+-----+
|Foreign Affairs|    1|
|         Africa|    1|
|        Climate|    1|
|        Special|    1|
|   Home Affairs|    3|
| Social Affairs|    1|
|           News|    2|
+---------------+-----+

In [20]:
df_pyspark.agg({'Salary': 'sum'}).show()

SyntaxError: invalid syntax (3435981260.py, line 1)