In [43]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [44]:
df_pyspark=spark.read.csv('test3.csv',header=True,inferSchema=True)

In [24]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)
 |-- salary: integer (nullable = true)

In [45]:
df_pyspark.show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|   Jon|  47|        26|250000|
|Zeinab|  35|         9|165000|
|Sheena|  41|        19|150000|
| Tanya|  30|         7|120000|
|  Alex|  35|        11|180000|
|Daljit|  33|        10|100000|
|  Gaby|NULL|      NULL| 75000|
|  NULL|  34|        10| 60000|
|  NULL|  36|      NULL|  NULL|
+------+----+----------+------+

In [46]:
df_pyspark.drop('Continent').show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|   Jon|  47|        26|250000|
|Zeinab|  35|         9|165000|
|Sheena|  41|        19|150000|
| Tanya|  30|         7|120000|
|  Alex|  35|        11|180000|
|Daljit|  33|        10|100000|
|  Gaby|NULL|      NULL| 75000|
|  NULL|  34|        10| 60000|
|  NULL|  36|      NULL|  NULL|
+------+----+----------+------+

In [47]:
df_pyspark.show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|   Jon|  47|        26|250000|
|Zeinab|  35|         9|165000|
|Sheena|  41|        19|150000|
| Tanya|  30|         7|120000|
|  Alex|  35|        11|180000|
|Daljit|  33|        10|100000|
|  Gaby|NULL|      NULL| 75000|
|  NULL|  34|        10| 60000|
|  NULL|  36|      NULL|  NULL|
+------+----+----------+------+

In [48]:
df_pyspark.na.drop().show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|   Jon| 47|        26|250000|
|Zeinab| 35|         9|165000|
|Sheena| 41|        19|150000|
| Tanya| 30|         7|120000|
|  Alex| 35|        11|180000|
|Daljit| 33|        10|100000|
+------+---+----------+------+

In [49]:
df_pyspark.na.drop(how="any").show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|   Jon| 47|        26|250000|
|Zeinab| 35|         9|165000|
|Sheena| 41|        19|150000|
| Tanya| 30|         7|120000|
|  Alex| 35|        11|180000|
|Daljit| 33|        10|100000|
+------+---+----------+------+

In [50]:
df_pyspark.na.drop(how="any",thresh=3).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|   Jon| 47|        26|250000|
|Zeinab| 35|         9|165000|
|Sheena| 41|        19|150000|
| Tanya| 30|         7|120000|
|  Alex| 35|        11|180000|
|Daljit| 33|        10|100000|
|  NULL| 34|        10| 60000|
+------+---+----------+------+

In [51]:
df_pyspark.na.drop(how="any",subset=["Age"]).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|   Jon| 47|        26|250000|
|Zeinab| 35|         9|165000|
|Sheena| 41|        19|150000|
| Tanya| 30|         7|120000|
|  Alex| 35|        11|180000|
|Daljit| 33|        10|100000|
|  NULL| 34|        10| 60000|
|  NULL| 36|      NULL|  NULL|
+------+---+----------+------+

In [52]:
df_pyspark.na.fill('Missing Values',['Experience', 'Age']).show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|   Jon|  47|        26|250000|
|Zeinab|  35|         9|165000|
|Sheena|  41|        19|150000|
| Tanya|  30|         7|120000|
|  Alex|  35|        11|180000|
|Daljit|  33|        10|100000|
|  Gaby|NULL|      NULL| 75000|
|  NULL|  34|        10| 60000|
|  NULL|  36|      NULL|  NULL|
+------+----+----------+------+

In [53]:
df_pyspark.show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|   Jon|  47|        26|250000|
|Zeinab|  35|         9|165000|
|Sheena|  41|        19|150000|
| Tanya|  30|         7|120000|
|  Alex|  35|        11|180000|
|Daljit|  33|        10|100000|
|  Gaby|NULL|      NULL| 75000|
|  NULL|  34|        10| 60000|
|  NULL|  36|      NULL|  NULL|
+------+----+----------+------+

In [54]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [55]:
from pyspark.ml.feature import Imputer 

imputer = Imputer(
    inputCols=['Age', 'Experience', 'Salary'],
    outputCols=["{}_imputed".format(c) for c in ['Age', 'Experience', 'Salary']]
).setStrategy("median")

In [56]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+------+----+----------+------+-----------+------------------+--------------+
|  Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+------+----+----------+------+-----------+------------------+--------------+
|   Jon|  47|        26|250000|         47|                26|        250000|
|Zeinab|  35|         9|165000|         35|                 9|        165000|
|Sheena|  41|        19|150000|         41|                19|        150000|
| Tanya|  30|         7|120000|         30|                 7|        120000|
|  Alex|  35|        11|180000|         35|                11|        180000|
|Daljit|  33|        10|100000|         33|                10|        100000|
|  Gaby|NULL|      NULL| 75000|         35|                10|         75000|
|  NULL|  34|        10| 60000|         34|                10|         60000|
|  NULL|  36|      NULL|  NULL|         36|                10|        120000|
+------+----+----------+------+-----------+------------------+--------------+