In [1]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('dataframe').getOrCreate()

In [7]:
df_pyspark=spark.read.csv('test1.csv',header=True,inferSchema=True)
df_pyspark.show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|   Jon| 47|        26|250000|
|Zeinab| 35|         9|165000|
|Sheena| 41|        19|150000|
| Tanya| 30|         7|120000|
|  Alex| 35|        11|180000|
|Daljit| 33|        10|100000|
+------+---+----------+------+

In [9]:
df_pyspark.filter('Salary<=150000').show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Sheena| 41|        19|150000|
| Tanya| 30|         7|120000|
|Daljit| 33|        10|100000|
+------+---+----------+------+

In [10]:
df_pyspark.filter('Salary<=150000').select(['Name','Age']).show()

+------+---+
|  Name|Age|
+------+---+
|Sheena| 41|
| Tanya| 30|
|Daljit| 33|
+------+---+

In [11]:
df_pyspark.filter(df_pyspark['Salary']<=150000).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Sheena| 41|        19|150000|
| Tanya| 30|         7|120000|
|Daljit| 33|        10|100000|
+------+---+----------+------+

In [13]:
df_pyspark.filter((df_pyspark['Salary']<=120000) | (df_pyspark['Salary']>=180000)).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|   Jon| 47|        26|250000|
| Tanya| 30|         7|120000|
|  Alex| 35|        11|180000|
|Daljit| 33|        10|100000|
+------+---+----------+------+

In [14]:
df_pyspark.filter(~(df_pyspark['Salary']<=120000)).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|   Jon| 47|        26|250000|
|Zeinab| 35|         9|165000|
|Sheena| 41|        19|150000|
|  Alex| 35|        11|180000|
+------+---+----------+------+